<div class="col-md-6">
  <p class="top-text">Facebookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</p>
      <%=image_tag  'top.png' %>>
</div>
<div class="col-md-7">
  <%= render 'devise/shared/new_registration' %>
  <div class="sign_up">
    <%= render "devise/shared/links" %>
  </div>
</div>
