<% if topic.likes.find_by(user_id: current_user) %>
  <%= link_to topic_like_path(like, topic_id: topic.id), id: "delete-like-button", method: :delete, remote: true do %>
    <i class="fa  fa-thumbs-o-up fa-lg like-done" aria-hidden="true"></i>
  <% end %>
  <span class="like-done-text">いいね！ </span>
<% else %>
  <%= link_to topic_likes_path(topic.id), id: "add-like-button", method: :post, remote: true do %>
    <i class="fa  fa-thumbs-o-up fa-lg like-before" aria-hidden="true"></i>
  <% end %>
    <span class="like-before-text">いいね！</span>
  

<% end %>
