body {
  background-color: #E9EBEE;
  padding-top: 60px;
}

.main {
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .navbar .container {
    background-color: #3b5998;
    height: auto;
  }

  .navbar-header {
    height: 43px;
  }
}

.alert-danger li {
  list-style: none;
}

.alert-danger-text {
  text-align: center;
  font-weight: bold;
}
.modal-body {
  position: relative;
  padding: 15px;
  word-wrap: break-word;
}
