html {
  position: relative;
  min-height: 100%;
}

.row {
  margin-left: 60px;
  margin-right: 60px;
}

.navbar {
  min-height: 0px !important;
  font-size: 0.9em;
  border-bottom: 1px solid #dfe6d9;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
  border-radius: 0px;
  height: 43px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 12px;
}

.navbar-default .navbar-brand {
  color: #fff;
  padding: 3px 0px;
  font-size: 35px;
  height: auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  height: 42px;
  color: #fff;
  background: rgba(0, 0, 0, .1);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  padding: 0px;
}

.main {
  padding: 0px 0px;
}

.post {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 12px 0px;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: hidden;
}

.post_post {
  background-color: #ffffff;
  margin: 0px 0px 12px 0px;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: hidden;
}

.post_post_header {
  background-color: #f6f7f9;
  height: 50px;
  border-bottom: 1px solid #dddfe2;
}

.post_post_footer {
  margin-top: 10px;
  padding: 0px 10px 10px 0px;
  background-color: #f6f7f9;
  overflow: hidden;
  border-top: 1px solid #dddfe2;
}

.post_post_header_text {
  padding: 15px 0px 0px 10px;
  font-weight: bold;
  color: #4b4f56;
}

.post_post_header_text span {
  font-weight: bold;
}

textarea.form-control {
  height: 120px !important;
  padding-top: 10px;
}

.post_body {
  padding: 15px 15px 0px 15px;
}

.post_comment {
  background-color: #F6F7F9;
  padding: 0px 15px 15px 15px;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: hidden;
}

hr {
  margin-top: 15px;
  margin-bottom: 0px;
  border-top: 2px solid #eee;

}

div[class*="comments_area_"]  {
  position: relative;
  height: auto;
  min-height: 100%;
  margin-top: 15px;
}

div[class*="comments_content_"]  {
  margin-bottom: 20px;
  margin-top: 20px;
  word-wrap: break-word;
}

div[class*="comment_"]  {
  overflow: hidden;
  margin-bottom: 7px;
}

.comment-hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-top: 2px solid #eee;
}

.comment_list {
  margin-bottom: 10px;
  float: left;
  list-style: none;
  width: 430px;
}

.actions {
  padding-top: 6px;
}

.post_content {
  padding-right: 20px;
}

div[class*="post_content_"] {
  padding: 0px 12px;
}

#post_content:focus {
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#post_content {
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  border-radius: 4px;
}

.like_button {
  margin-bottom: 15px;
  margin-top: 15px;

}

.comment_button  {
  float: right;
}

.post_button {
  float: right;
  margin-top: 10px;

}

.actions {
  padding-top: 10px;

}
#comment_content.form-control {
  border-radius: 0px;
}

.field_with_errors {
  border: 1px solid #a94442;
}
#error_explanation {
  margin-bottom: 35px;
}

#error_explanation li {
  list-style: none;
  color: #a94442;
}

.dropdown {
  float: right;
}

.dropdown-toggle {
  margin-bottom: 5px;
  padding: 0px;
  background-color: #fff;
  border-color: #fff;
  float: right;
}

.dropdown-menu {
  left: auto;
  right: 15px;

}
.dropdown-toggle:hover {
  background-color: #fff;
  border-color: #fff;
  color: #adadad;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: #fff;
  border-color: #fff;
  color: #adadad;
  -webkit-box-shadow: none;
  float: right;
}

.open>.dropdown-toggle {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle.focus, .dropdown-toggle:active, .dropdown-toggle.active, .open>.dropdown-toggle.btn-default  {
  margin-bottom: 5px;
  background-color: #fff;
  border-color: #fff;
  color: #adadad;
}

.edit {
  margin-top: 12px;
}

.page-nation {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3b5998;;
  text-align: center;
}

.text-muted {
  color: #fff;
  margin-top: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn-primary:hover {
  background-color: #365899;
  border-color: #365899;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #4267b2;
  border-color: #4267b2;
}

.pagination>li>a, .pagination>li>span {
  color: #4267b2;
}

.edit-field {
  float: right;
  margin-bottom: 2px;
}

.edit-field > a > .fa {
  text-decoration: none;
  color: #cccccc;
}
.edit-field > a > .fa:hover {
  text-decoration: none;
  color: #6f6f6f;
}

a:hover, a:focus {
  text-decoration: none;
}

.posting-time {
  font-size: 12px;
  color: #D7D7D7;
}

.image-post {
  padding: 10px 0 5px 10px;
  color: #c9c9c9;
}

.post-user-name {
  padding-left: 3px;
}

.post-user-filed {
  padding-bottom: 5px;
}
