.top-text {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}


body {
  background-color: #E9EBEE;
  padding-top: 60px;
}

.main {
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .navbar .container {
    background-color: #3b5998;
    height: auto;
  }

  .navbar-header {
    height: 43px;
  }
}

.alert-danger li {
  list-style: none;
}
