// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<style>
.wrapper {
  margin: 0 auto;
}
.content-header {
  background: #3a5795;
  color: white;
  padding: 10px 0;
}
.content-header form {
  float: right;
}
.content-header h1 {
  margin-top: 0px;
  float: left;
  font-size: 40px;
  padding-top: 10px;
}
.content-header label {
  font-size: 11px;
  padding-bottom: 2px;
}
.content-header label,
.content-header input {
  display: block;
}
.content-header input[type="checkbox"] {
  display: inline-block;
}
.content-header input[type="submit"] {
  background-color: #5972a8;
  color: white;
  font-weight: bold;
  padding: 2px;
  border: 1px solid black;
  margin-top: 13px;
}
.content-header input[type="text"] {
  margin-bottom: 5px;
}
.group-form {
  float: left;
  margin-left: 10px;
}
.group-form a {
  color: #9daccb;
  font-size: 12px;
  text-decoration: none;
  padding: 0;
}
/*---- Middle Content ----*/
.content-middle {
  background: #edf0f5;
}
.content-middle .middle-left {
  float: left;
  width: 50%;
  margin-right: 5%;
}
.content-middle .middle-right {
  float: right;
  width: 45%;
}
.content-middle h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}
.content-middle ul li {
  list-style: none;
  font-weight: bold;
  margin-bottom: 30px;
}
.content-middle ul li span {
  list-style: none;
  margin-left: 10px;
  font-weight: normal;
  color: gray;
}
.content-middle h3 {
  margin-top: 10px;
  font-size: 35px;
}
.middle-right p:nth-child(2) {
  color: gray;
  margin-bottom: 15px;
  font-size: 15px;
}
.middle-right input {
  border-radius: 10px solid gray;
  padding: 8px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 15px;
}
.middle-right select {
  border-radius: 10px solid gray;
  padding: 4px;
}
.middle-right input.inline {
  max-width: 49%;
  margin-right: 1%;
}
.middle-right input.inline-last {
  margin-right: 0%;
}
.middle-right input[type="radio"] {
  display: inline-block;
  width: 20px;
  margin-top: 15px;
}
#birthday-info,
#register-info {
  color: gray;
  font-size: 10px;
}
#register-info a,
.middle-right p:last-child a {
  text-decoration: none;
  color: rgb(46, 113, 428);
}
#register-info a:hover {
  text-decoration: underline;
}
.middle-right input[type="submit"] {
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 150px;
  text-align: center;
  margin-top: 10px;
  background-color: #099E16;
  border-radius: 6px;
}
.middle-right form {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.middle-right p:last-child {
  color: gray;
  margin-bottom: 50px;
}
::-webkit-input-placeholder {
  font-size: 15px;
}
::-moz-placeholder {
  font-size: 15px;
}
/* firefox 19+ */
:-ms-input-placeholder {
  font-size: 15px;
}
/* ie */
input:-moz-placeholder {
  font-size: 15px;
}
/*--- Footer ---*/
.content-footer a {
  text-decoration: none;
  font-size: 12px;
}
.content-footer li {
  display: inline-block;
  margin-right: 5px;
}
.content-footer ul:first-child {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.content-footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: gray;
  font-size: 12px;
}
body {
margin: 0;
padding: 0;
background-color: #f9f9f9;
color: #000000;
font-size: 150%;
}
#container {
width: 980px;
margin: 0 auto;
background-color: #ffffff;
border-left: 1px #c0c0c0 solid;
border-right: 1px #c0c0c0 solid;
}
.flash {
  color: black;
  padding-top: 10px;
}
#page {
width: 950px;
margin: 0 auto;
}
#header p.catch {
margin: 0 0 10px;
}
#header p.catch strong {
font-weight: normal;
}
#header ul.guide li.first {
background: none;
}
#header ul.nl {
width: 100%;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}
#header ul.nl li {
width: 158px;
float: left;
line-height: 100%;
}
#header ul.nl li.first,
#header ul.nl li.last {
width: 159px;
}
#header ul.nl li a {
position: relative;
padding: 10px 2px;
border: 1px #cccccc;
border-style: solid solid solid none;
text-decoration: none;
}
#header ul.nl li.first a {
border-left: 1px #cccccc solid;
}
html {
  background: #CCD0D4;
  min-height: 100%;
}
body {
  min-height: 100%;
}
h1.loader {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 4.6875em;
  color: transparent;
  letter-spacing: 0.01em;
}
.loader span {
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
    animation: loading 0.85s ease-in-out infinite alternate;
}
@keyframes loading {
  to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}
.loader span:nth-child(2) {
  animation-delay:0.15s;
}
.loader span:nth-child(3) {
  animation-delay:0.30s;
}
.loader span:nth-child(4) {
  animation-delay:0.45s;
}
.loader span:nth-child(5) {
  animation-delay:0.60s;
}
.loader span:nth-child(6) {
  animation-delay:0.75s;
}
.loader span:nth-child(7) {
  animation-delay:0.90s;
}
button {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.fill:hover {
  color: whitesmoke;
}
.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.fill:hover:before {
  top: 0;
}
.fade:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 88%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
}
.fade:hover:before{
  left:91%;
  opacity:1;
}
.fade:hover {
  border: 0px #fff solid;
  -webkit-transform: scale(1.04,1.04);
  -webkit-transition: border 0.3s ease-out;
  -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.arrow{
  text-align:left;
  padding-left:17px;
}
dt {
    display: block;
}
.arrow:before{
  content:"→";
  position:absolute;
  color:#383736;
  left: 83%;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.arrow:hover:before{
  left:84%;
  opacity:1;
}
.arrow:hover {
  width:170px;
}
.slide:after{
  content:"View Story";
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  text-align:center;
  -webkit-transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.slide:before {
  content:"Read it →";
  height:100%;
  width:100%;
  position:absolute;
  color:#383736;
  left:-100%;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.slide:hover{
  background:#383736;
}
.slide:hover:before{
  left:0;
  opacity:1;
  color:#fff;
}
.slide:hover:after{
  left:100%;
  opacity:0;
}
.slide.left:hover{
  background:none;
}
.slide.left:before {
  left:100%;
  color:#383736;
  -webkit-transition: all 425ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.slide.left:hover:before{
  left:0;
}
.svg{
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.svg:before{
  position:absolute;
  content:"";
  background: url(https://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.svg:after {
  content: "";
  position: absolute;
  background: #d19b26;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.svg:hover{
  color:white;
  border: 0px #d19b26 solid;
}
.svg:hover:before {
  opacity: .8;
}
.svg:hover:after {
  top: 0;
}

.top-text {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}
</style>
